<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>
<style>
    body{
    background-image: url(/img/pawprint.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} </style>

<div class="container">
    <div class="row">
      <div class="col col-example">
          <br><!-- Card Dark -->
        <div class="card">
        
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="/img/Roxy.jpg"
              alt="Roxy">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">Roxy</h4>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">Born : June 2008 <br>
                Breed : Chihuahua <br>
                I might be small but I'm very fiesty. I'll bark till you pet me, then when you leave I will start barking again. I've started to go deaf so yelling at me won't work, not like I listened before anyways.
            </p>
          </div>
        
        </div>
        <!-- Card Dark --></div>
      <div class="col col-example">
          <br><!-- Card Dark -->
        <div class="card">
        
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="/img/Maggie&babbies.jpg"
              alt="Maggie">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">Maggie</h4>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">Born : September 2017 <br>
            Breed : Dogo Argentino <br>
            I love being inside, although I will become bored after some time and start bothering everyone in the house. 
        </p>
          </div>
        
        </div>
        <!-- Card Dark -->
    </div>
      <div class="w-100"></div>
      <br>
      <div class="col col-example">
          <!-- Card Dark -->
        <div class="card">
        
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="/img/BrunoKetchup.jpg"
              alt="BrunoKetchup">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">Bruno</h4>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">Born : December 2017 <br>
                Breed : English Bulldog <br>
                I like to think that I am a lap dog but I don't know how to stay put and will end up on your shoulders if you do not stop me. <br> Also Follow me on instagram
                <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/bruunoo.the.great/">@bruunoo.the.great</a>
            </p>
          </div>
        
        </div>
        <!-- Card Dark --></div>
      <div class="col col-example"><!-- Card Dark -->
        <div class="card">
        
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="/img/BeauLaying.jpg"
              alt="Beau">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">Beua</h4>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">Born : February 2019 <br>
                Breed : Dogo Argentino <br>
                Don't Bring me inside unless you are taking me a bath. Otherwise I don't how to act and will continue to run around and jump on things like im outside.

            </p>
          </div>
        
        </div>
        <!-- Card Dark --></div>
    </div>
  </div>
<%- include('layouts/footer.ejs') %>
