<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>
<style>
  body{
    background-image: url(/img/Family.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h2{
    color: whitesmoke;
  }
  h1{
    color: whitesmoke;
  }
</style>
<br>
<h1 style="text-align: center;">Our Family</h1>
<br><br>
<div class="container">

  <h2 style="text-align: center;">My Family</h2>
  <br>

    <div class="row">
      <div class="col">
        <!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="/img/Dad.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Mario Rodriguez</a></h4>
      <!-- Text -->
      <p class="card-text">Born : January 1977 <br> Relationship : Father</p>
      
    </div>
  
  </div>
  <!-- Card -->
      </div>
      <div class="col">
        <!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="/img/Mother.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Sophie Rodriguez</a></h4>
      <!-- Text -->
      <p class="card-text">Born : September 1977 <br> Relationship : Mother</p>
    </div>
  
  </div>
  <!-- Card -->
      </div>
      <div class="col">
        <!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="/img/Mark.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Mark Rodriguez</a></h4>
      <!-- Text -->
      <p class="card-text">Born : June 2000 <br> Relationship : Brother</p>
    </div>
  
  </div>
  <!-- Card -->
      </div>
      <div class="col">
        <!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="/img/Maddie.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Madison Rodriguez</a></h4>
      <!-- Text -->
      <p class="card-text">Born : June 2003 <br> Relationship : Sister</p>
    </div>
  
  </div> 
  <br> <br>
  <!-- Card -->
      </div>
    </div>

    <br>
    <h2 style="text-align: center;">Her Family</h2>
    <br>

    <div class="row">
      <div class="col-4">
<!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="/img/Fatherinlaw.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Jesus Montemayor</a></h4>
      <!-- Text -->
      <p class="card-text">Born : November 1966 <br> Relationship : Father-in-law</p>

    </div>
  
  </div>
  <!-- Card -->      </div>
      <div class="col-4">
<!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="/img/Motherinlaw.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Maribel Montemayor</a></h4>
      <!-- Text -->
      <p class="card-text">Born : July 1971 <br> Relationship : Mother-in-law</p>
  
    </div>
  
  </div>
  <!-- Card -->      </div>
      <div class="col-4">
          <!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="/img/Wife.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Debanhi Rodriguez</a></h4>
      <!-- Text -->
      <p class="card-text">Born : December 1996 <br> Relationship : Wife</p>
    
    </div>
  
  </div>
  <!-- Card -->
      </div>
    </div>
  </div>
<%- include('layouts/footer.ejs') %>
